aside.main-sidebar.sidebar-dark-primary.elevation-4
  a.brand-link(href='/admin')
    span.brand-text.font-weight-light NamedFramework
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .info
        a.d-block(href='/')= admin.name
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
        li.nav-item
          a.nav-link(href="/admin/dashboard", class=url === '/admin/dashboard' ? 'active' : '')
            i.nav-icon.fa.fa-dashboard 
            p Dashboard  
        li.nav-item
          a.nav-link(href="/admin/routes", class=url === '/admin/routes' ? 'active' : '')
            i.nav-icon.fa.fa-link 
            p Routes  
        li.nav-item
          a.nav-link(href="/admin/api", class=url === '/admin/api' ? 'active' : '')
            i.nav-icon.fa.fa-magic 
            p API  
        li.nav-item
          a.nav-link(href="/logout/admin", class=url === '/logout/admin' ? 'active' : '')
            i.nav-icon.fa.fa-sign-out 
            p Log Out
          
